<form action="/articles/<%= @article.id %>" method="post">
<input type="hidden" name="_method" value="patch">
<h2>   Title: <input id="title" type="text" name="article[title]" value="<%= @article.title %>"> </h2>
<h2>  Content: <input id="content" type="text" name="article[content]"  value="<%= @article.content %>"> </h2>
<input type="submit" />
</form> 







